* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Rajdhani", sans-serif;
  background: url("../images/bg/bg2.png") no-repeat center fixed;
  background-size: cover;
  color: #ffffff;
  position: relative;
  height: 100vh;
}

.top-logo {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  z-index: 10;
}

.menu-toggle {
  display: none;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
  transition: opacity 0.3s;
}

.hamburger div {
  height: 3px;
  background-color: #fff;
}

.menu-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 0;
  height: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.95);
  border: 2px solid #fff;
  transform-origin: top right;
  transition: width 0.4s ease, height 0.4s ease, opacity 0.3s ease;
  overflow: hidden;
  z-index: 999;
}

.menu-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding-left: 20px;
}

.menu-links li {
  margin-bottom: 15px;
}

.menu-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.menu-links a:hover {
  opacity: 0.7;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: url("../images/icons/cursor2.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.menu-toggle:checked ~ .menu-overlay {
  width: 180px;
  height: 250px;
  opacity: 1;
}

.menu-toggle:checked ~ .hamburger {
  opacity: 0;
  pointer-events: none;
}

.sidebar-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.sidebar-menu .menu-links {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar-menu .menu-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-menu .menu-links a:hover {
  opacity: 0.7;
}

.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.qr-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.4);
}

.qr-box img {
  width: 200px;
  max-width: 90%;
  display: block;
}

.qr-text {
  font-size: 14px;
  color: white;
  margin-top: 5px;
}

@media (min-width: 801px) {
  .hamburger,
  .menu-overlay,
  .menu-toggle {
    display: none;
  }
  .sidebar-menu {
    display: block;
  }
}

@media (max-width: 800px) {
  .sidebar-menu {
    display: none;
  }
}
